html, body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
a, a:visited{
    color: inherit !important;
    text-decoration: none;
}
#logo{
    font-size: 1.5em;
    padding-left: 0px 0px;
    color: yellow;
}
.no-margin{
    margin: 0px;
}
.be-black{
    background-color: black;
}
.yellow{
    color: yellow;
}
.large-padding{
    padding: 5px 5px;
}
.bb{
    color:black;
   
}
.bb{
    background: rgb(213, 216, 10);


}


